body {
  padding-top: 70px;
}

/*-----------*/
/* Home page */
/*-----------*/

.carousel {
  margin-top: -30px;
}

/*--------------------*/
/* News overview page */
/*--------------------*/

.news-overview {

}
.news-overview .news {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news-overview .news:last-child {
  border-bottom: none;
}
.news-overview .news h2 {
  padding-bottom: 0px;
}
.news-overview .news h2:first-child {
  padding-top: 0px;
}
.news-overview .news h2 a {
  color: #000;
}
.news-overview .news p.metadata {

}
.news-overview .news p.content {
  color: #333;
}
.news-overview .news span.read-more {
  display: inline;
  font-weight: bold;
  padding-left: .4em;
}

.news-overview .news span.read-more a {
  color: #2290bf;
  outline: 0 none;
  text-decoration: none;
}
/*-------------------*/
/* News details page */
/*-------------------*/

.news-details {

}
.news-details article {
  color: #333;
}
.news-details article h1 {
  color: #333;
  margin: 0;
}
.news-details article h1 a {
  color: #333;
}
.news-details article p.metadata {
  border-bottom: 1px solid #ccc;
  margin: 15px 0 20px;
  padding: 0 0 20px;
}
.news-details article p.body {

}