body {
  padding-top: 70px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.roundedImage{
  overflow:hidden;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
  border-radius:75px;
  width:150px;
  height:150px;
}